
.page.not-found-page {
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    margin-top: 110px;
}


.page.not-found-page .page-body {
    margin-top: 26px;
}

.page.not-found-page .page-body .topic-block {
    margin-bottom: 70px;
    padding-bottom: 140px;
}

.error-page-block {
    width: 60%;
    margin: auto;
}

@media (max-width: 1200px) {
    .error-page-block {
        width: 80%;
    }
}

@media (max-width: 1000px) {
    .error-page-block {
        width: 100%;
    }
}

.error-page-block h1,
.error-page-block h2,
.error-page-block h3 {
    /*font-size: 22px;*/
    color: #333;
}

.error-page-block__button {
    text-align: center;
    margin-top: 48px;
}

.error-page-block__button a {
    width: fit-content;
    background: #940808;
    padding: 10px 48px;
    color: white;
    font-size: 13px;
    font-weight: bold;
    color: #fff;
    text-transform: uppercase;
    outline: 1px solid transparent;
    transition: all .2s ease;
    text-decoration: none;
}


/*  Internal server error  */
.not-found-page .error-main-section {
    font-weight: 500;
    color: black;
    font-size: 18px;
}

.not-found-page .error-main-section p {
    margin: 0px;
}