
@{
    Layout = "~/Views/Shared/_ColumnsTwo.cshtml";
    ViewBag.Title = "QuoteRequestFormSubmit";
    Html.AddTitleParts(T("PageTitle.QuoteRequestFormSubmit").Text);
}

<h2>Thank you</h2>

<div class="proofrequstformpage">
    <h2 class="page-title">Thank you for submitting the details, our sales representative will get back you shortly.</h2>
</div>

